body {
    height: 100vh;
    background: radial-gradient(circle, rgba(255, 255, 0, 0.2), rgba(255, 0, 0, 0.2));
    overflow: hidden;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
  position: relative;
  width: 300px;
  height: 600px;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.Head {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 25px solid #e11b8d;
  transition: all 250ms ease-in;
}

.Arms {
  position: absolute;
  top: 400px;
  width: 100px;
  height: 25px;
  background-color: #e11b8d;
  border-radius: 25px;
  transition: all 500ms ease-in;
}

.LeftArm {
  display: block;
  left: 50px;
}

.RightArm {
  display: block;
  right: 50px;
}

.Body {
  position: absolute;
  height: 300px;
  width: 25px;
  background-color: #e11b8d;
  border-radius: 25px;
  top: 290px;
  left: 137.5px;
  transition: all 500ms ease-in;

}
